#main-box{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    margin: auto;
    border: solid 1px;
    font-size: 20px;
    font-weight: bold;
    background-color: #e67e22;
    color: #fff;
}
#main-box div{
    width: 100px;
    text-align: center;
    line-height: 400px;
    transition: all 1s;
}
#main-box div:nth-child(2){
    background-color:#34495e !important;
}
#main-box div:nth-child(4){
    background-color:#34495e !important;
}
#main-box div:hover{
    width: 400px;
}
#main-box div span{
    opacity: 0;
    transition: all 1s;
}
#main-box div:hover span{
    opacity: 1;
}